body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:cornsilk;
}

h1,
h2,
p,
.citation {
    text-align: center;
    margin: 0px auto;
    padding: 8px;
}

p {
    padding: 0px 100px;
}

.citation {
    display: block;
}

img {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0px auto;
}

ol,
ul {
    margin-left: 30rem;
}

li {
    width: 400px;
}